@value makerGreen,makerLightGrey from '../../common/colors.css';

.editor {
  padding: 0.5em 2em;
  flex-basis: 50%;
  border-right: 1px solid makerLightGrey;
  overflow-y: auto;
}

.title {
  margin-bottom: 1em;
  width: 100%;
  color: makerGreen;
  text-align: center;
}
